[commit]
  verbose = true

[core]
	editor = {{ .editor | quote }}
	pager = delta

[credential]
	helper = store

[delta]
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for auto-detection

[diff]
  algorithm = histogram

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[help]
  autoCorrect = prompt

[http]
	postBuffer = 524288000
	version = HTTP/1.1

[init]
  defaultBranch = main

[interactive]
  diffFilter = delta --color-only

[merge]
{{- $gitExists := lookPath "git" -}}
{{- if $gitExists -}}
{{-   $versionOutput := output "git" "--version" -}}
{{-   $versionString := $versionOutput | regexFind "[0-9]+\\.[0-9]+\\.[0-9]+" -}}
{{-   if and $versionString (semverCompare ">= 2.35.0" $versionString) }}
  conflictstyle = zdiff3
{{-   else }}
  conflictstyle = diff3
{{-   end }}
{{- else -}}
  conflictstyle = diff3
{{- end }}

[push]
  default = current

[pull]
	rebase = true

[rebase]
  autoStash = true
  autoSquash = true

[ssh]
	postBuffer = 524288000

[user]
	name = ihbang
	email = {{ .email | quote }}
